<!-- <div class="card"> -->
    <div class="row custom-player">
        <div class="show-yt-video" (click)="showHideYtVideo()">
            <i *ngIf="!showYtVideoIcon; else hideYtVideoIcon" class="fa-solid fa-arrow-up-right-from-square font-size-25"></i>
            <ng-template #hideYtVideoIcon>
                <i class="fa-solid fa-chevron-down"></i>
            </ng-template>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4 text-center">
                    <img src="/assets/img/commons/sound_200.gif" width="50"/>
                </div>
                <div class="col-8">
                    <h4>{{song.name}}</h4>
                    <span>{{song.singer}}</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row ">
                <div class="col-4">
                    <button mat-icon-button (click)="handleBackwordForwardSong(-1)"><i class="fa-solid fa-backward font-size-30"></i></button>
                </div>
                <div class="col-4">
                    <button mat-icon-button (click)="handlePlayPause()"><i class="fa-solid font-size-30" [ngClass]="(playPause$ | async) ? 'fa-pause' : 'fa-play' "></i></button>
                </div>
                <div class="col-4">
                    <button mat-icon-button (click)="handleBackwordForwardSong(1)"><i class="fa-solid fa-forward font-size-30"></i></button>
                </div>
            </div>

        </div>
    </div>
<!-- </div> -->
