<div class="card vh-100">
    <p-table [value]="songs" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="body" let-song let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex }}</td>
                <td>
                    {{ song.songSinger }}
                </td>
                <td>
                    {{ song.songName }}
                </td>
                <td>
                    <i class="fa-regular fa-thumbs-up"></i>
                    {{ song.songLikes }}
                </td>
                <td>
                    <i class="fa-regular fa-thumbs-down"></i>
                    {{ song.songDislikes }}
                </td>
                <td>
                    <i class="fa-solid fa-radio"></i>
                    {{ song.dateRadioPlayed }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>