<h2 mat-dialog-title>Ready to Enjoy the Beat?</h2>
<mat-dialog-content>
    <p>Tap 'Play' to dive into the rhythm of your selected radio playlist and let the music take over!</p>
    <p>Prefer to explore more? Hit 'Cancel' to return to the main menu and discover other tunes.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Play</button>
</mat-dialog-actions>