<div class="row background-transparent">
    <div class="yt-container">
        <div class="yt-frame">
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/-U7j6XUFpWY?si=e_3wjackR9MMhS9e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
            <div id="player"></div>
        </div>
    </div>
    <div (click)="pauseVideo()"> dada</div>
</div>